.TodoForm-container {
  color: #669a41;
  font-weight: bold;
  width: 370px;
  height: 430px;
  background: #222;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.TodoForm-input {
  background: #333;
  color: #fff;
  border-radius: 12px;
  border: 1px solid #669a41;
  padding: 10px;
  min-height: 52px;
  max-width: 100%;
  min-width: 100%;
  position: relative;
  z-index: 1;
}

.TodoForm-input::placeholder {
  color: #9c9c9c;
}

.TodoForm-buttons-container {
  display: flex;
  gap: 12px;
  position: relative;
  z-index: 1;
  align-items: center;
}

.TodoForm-button {
  background: #669a41;
  color: #fff;
  border-radius: 12px;
  border: none;
  padding: 12px 24px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.TodoForm-button--cancel {
  background: #575757;
  color: #fff;
}

.TodoForm-img {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
  z-index: 0;
}
