main {
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 40px 0;
  justify-content: space-around;
}

h1 {
  text-align: center;
  padding: 48px;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
  font-size: 48px;
  color: #669a41;
}

.taskCreation-container {
  width: 370px;
  height: 430px;
  background: #222;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  position: relative;
}

.taskList-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.task-img {
  width: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
}

@media (max-width: 993px) {
  .taskCreation-container {
    width: 290px;
    height: 385px;
  }

  .taskList-container {
    width: 400px;
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    gap: 50px;
    padding: 24px 60px;
  }

  .taskCreation-container {
    width: 100%;
    height: auto;
  }

  .taskList-container {
    width: 100%;
  }

  .task-img {
    display: none;
  }
}

@media (max-width: 576px) {
  main {
    padding: 0;
  }

  h1 {
    font-size: 42px;
  }
}
