main {
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 40px 60px;
  justify-content: space-around;
}

h1 {
  text-align: center;
  padding: 48px;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
  font-size: 48px;
  color: #669a41;
}

.taskCreation-container {
  width: 30%;
  height: auto;
  background: #222;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  position: relative;
}

.taskList-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.task-img {
  width: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    gap: 50px;
    padding: 24px;
  }

  .taskCreation-container {
    width: 100%;
    height: auto;
    background: #222;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    position: relative;
  }

  .taskList-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .task-img {
    display: none;
  }
}
