.todo-item {
  background: #444;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
}

.todo-item-text {
  width: calc(100% - 40px);
  font-weight: 100;
}

.todo-item-text--completed {
  text-decoration: line-through;
}
