.todoCounter {
  text-align: center;
  font-size: 24px;
  padding: 0;
  color: #fff;
  font-weight: 400;
  text-wrap: balance;
}

.todoCounter span {
  font-weight: bold;
  color: #669a41;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
}

@media (max-width: 576px) {
  .todoCounter {
    font-size: 20px;
  }
}
